<div class="container mt-5 mx-auto">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card custom-card shadow-lg border-0">
        <div class="card-header custom-card-header text-center">
          <h3 class="card-title mb-0">Add New Account</h3>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger text-center text-capitalize">
          {{ errorMessage }}
        </div>
        <div class="card-body custom-card-body">
          <form
            *ngIf="newAccountFormGroup"
            [formGroup]="newAccountFormGroup" (ngSubmit)="handleSaveNewAccount()"
          >
            <!-- Account Type Selection -->
            <div class="mb-4">
              <label for="type" class="form-label custom-label">Select an Account Type</label>
              <select id="type" class="form-select custom-input" formControlName="type">
                <option value="CurrentAccount">Current Account</option>
                <option value="SavingAccount">Saving Account</option>
              </select>
            </div>

            <!-- Balance Input -->
            <div class="mb-4">
              <label for="balance" class="form-label custom-label">Balance</label>
              <input type="number" formControlName="balance" class="form-control custom-input" id="balance">
              <div *ngIf="newAccountFormGroup.controls['balance']?.touched && newAccountFormGroup.controls['balance']?.errors?.['required']" class="text-danger mt-2">
                <i class="bi bi-exclamation-circle-fill me-2"></i> Balance is required!
              </div>
            </div>

            <!-- Overdraft Input (for Current Account) -->
            <div class="mb-4" *ngIf="newAccountFormGroup.value.type == 'CurrentAccount'">
              <label for="overDraft" class="form-label custom-label">Overdraft</label>
              <input type="number" formControlName="overDraft" class="form-control custom-input" id="overDraft">
              <div *ngIf="newAccountFormGroup.controls['overDraft']?.touched && newAccountFormGroup.controls['overDraft']?.errors?.['required']" class="text-danger mt-2">
                <i class="bi bi-exclamation-circle-fill me-2"></i> Overdraft is required!
              </div>
            </div>

            <!-- Interest Rate Input (for Saving Account) -->
            <div class="mb-4" *ngIf="newAccountFormGroup.value.type == 'SavingAccount'">
              <label for="interestRate" class="form-label custom-label">Interest Rate</label>
              <input type="number" formControlName="interestRate" class="form-control custom-input" id="interestRate">
              <div *ngIf="newAccountFormGroup.controls['interestRate']?.touched && newAccountFormGroup.controls['interestRate']?.errors?.['required']" class="text-danger mt-2">
                <i class="bi bi-exclamation-circle-fill me-2"></i> Interest rate is required!
              </div>
            </div>

            <!-- Customer Selection -->
            <div class="mb-4">
              <label for="customer" class="form-label custom-label">Customer</label>
              <select id="customer" class="form-select custom-input" formControlName="customer">
                <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.name }}</option>
              </select>
            </div>

            <!-- Action Buttons -->
            <div class="d-flex justify-content-between mt-4">
              <button type="button" class="btn btn-outline-danger btn-lg custom-button" routerLink="/customers">Back</button>
              <button type="submit" class="btn btn-primary btn-lg custom-button" [disabled]="!newAccountFormGroup.valid">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
