<mat-toolbar color="info" class="custom-toolbar">
  <!-- Titre de l'application -->
  <span class="app-title text-black">BANK EASE</span>



  <!-- Tableau de bord -->
  <button mat-button routerLink="/admin/dashboard" class="menu-button">
    <mat-icon>dashboard</mat-icon>
    Dashboard
  </button>

  <button mat-button routerLink="/admin/chatbot" class="menu-button">
    <mat-icon>chatbot</mat-icon>
    ChatBot
  </button>

  <!-- Menu des clients -->
  <button *ngIf="authService.isAdmin()" [matMenuTriggerFor]="CusMenu" mat-button class="menu-button">
    <mat-icon>people</mat-icon>
    Customers
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #CusMenu="matMenu">
    <button mat-menu-item routerLink="/admin/customers">
      <mat-icon>search</mat-icon>
      Search Customers
    </button>
    <button mat-menu-item routerLink="/admin/new-customer">
      <mat-icon>add</mat-icon>
      Create Customer
    </button>
  </mat-menu>

  <!-- Menu des comptes -->
  <button *ngIf="authService.isAdmin()" [matMenuTriggerFor]="accountMenu" mat-button class="menu-button">
    <mat-icon>account_balance_wallet</mat-icon>
    Accounts
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item routerLink="/admin/accounts">
      <mat-icon>search</mat-icon>
      Search Accounts
    </button>
    <button mat-menu-item routerLink="/admin/new-account">
      <mat-icon>add</mat-icon>
      New Accounts
    </button>
    <button mat-menu-item routerLink="/admin/accountsList">
      <mat-icon>edit</mat-icon>
      Manage Accounts
    </button>
  </mat-menu>


  <!-- Espace flexible pour aligner les éléments à droite -->
  <span style="flex: auto"></span>

  <!-- Menu du profil -->
  <button *ngIf="authService.isAuth" [matMenuTriggerFor]="ProfilMenu" mat-button class="menu-button">
    <mat-icon>person</mat-icon>
    {{ authService.username }}
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  <mat-menu #ProfilMenu="matMenu">
    <button mat-menu-item routerLink="/admin/profile">
      <mat-icon>lock</mat-icon>
      Change password
    </button>
  </mat-menu>

  <!-- Icône de déconnexion -->
  <button mat-icon-button (click)="logout()" class="logout-icon" matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<!-- Contenu principal -->
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
