<div class="container my-5">
  <mat-card class="custom-login-card shadow-lg" [formGroup]="loginForm">
    <mat-card-header class="custom-card-header text-center">
      <mat-card-title>
        <mat-icon>lock</mat-icon> Authentication
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="custom-card-body">
      <mat-form-field appearance="fill" class="full-width-input">
        <mat-label>Username or Email</mat-label>
        <input matInput formControlName="username" placeholder="Enter your username or email">
        <mat-icon matSuffix>person_outline</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width-input">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="passwordVisibility ? 'text' : 'password'"
          formControlName="password"
          placeholder="Enter your password"
        />
        <mat-icon
          matSuffix
          (click)="togglePasswordVisibility()"
          [class.eye-icon]="passwordVisibility"
        >
          {{ passwordVisibility ? 'visibility' : 'visibility_off' }}
        </mat-icon>
      </mat-form-field>

      <button (click)="login()" mat-raised-button color="accent" class="w-100 custom-btn">
        Log in
      </button>
    </mat-card-content>
  </mat-card>
</div>
