<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card custom-card shadow-lg">
        <!-- En-tête de la carte -->
        <div class="card-header custom-card-header text-white text-center py-4">
          <h3 class="card-title mb-0">Edit Customer</h3>
        </div>
        <div class="card-body custom-card-body p-4">
          <!-- Formulaire -->
          <form (ngSubmit)="handleUpdateCustomer()" [formGroup]="editCustomerFormGroup">
            <!-- Champ Nom -->
            <div class="mb-4">
              <label for="name" class="form-label custom-label">Name</label>
              <input
                type="text"
                class="form-control custom-input"
                id="name"
                formControlName="name"
                placeholder="Enter the name"
              />
              <div *ngIf="editCustomerFormGroup.get('name')?.touched && editCustomerFormGroup.get('name')?.errors?.['required']" class="text-danger mt-2">
                <i class="bi bi-exclamation-circle-fill me-2"></i> Name is required
              </div>
            </div>

            <!-- Champ Email -->
            <div class="mb-4">
              <label for="email" class="form-label custom-label">Email</label>
              <input
                type="email"
                class="form-control custom-input"
                id="email"
                formControlName="email"
                placeholder="Enter the email"
              />
              <div *ngIf="editCustomerFormGroup.get('email')?.touched">
                <div *ngIf="editCustomerFormGroup.get('email')?.errors?.['required']" class="text-danger mt-2">
                  <i class="bi bi-exclamation-circle-fill me-2"></i> Email is required
                </div>
                <div *ngIf="editCustomerFormGroup.get('email')?.errors?.['email']" class="text-danger mt-2">
                  <i class="bi bi-exclamation-circle-fill me-2"></i> Email is not valid
                </div>
              </div>
            </div>

            <!-- Boutons -->
            <div class="d-flex justify-content-between mt-5">
              <!-- Update Button -->
              <button type="submit" [disabled]="!editCustomerFormGroup.valid" class="btn btn-primary btn-lg custom-button" style="width: 45%;">
                Update
              </button>
              <!-- Cancel Button -->
              <button type="button" class="btn btn-outline-danger btn-lg custom-button" style="width: 45%;" (click)="cancelEdit()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
